-- A actualização de estados transforma as linhas de todas as tabelas com o zzstate a 1 para zzstate a 11 (fichas vermelhas)
use [W_GnBD]
UPDATE [ASYNCPROCESSARGUMENT] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [AJFPLAYER] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESS] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [NOTIFICATIONMESSAGE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [USERLOGIN] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [AJFCOUNTRY] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESSATTACHMENTS] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [NOTIFICATIONEMAILSIGNATURE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [AJFCONTRACT] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [AJFCLUB] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [USERAUTHORIZATION] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [AJFMEM] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [AJFAGENTE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
GO
