$gray:#717485;
$gray-light:#3f4354;
$light:#1e2436;
$gray-dark:#c5cad4;

/* eslint-disable indent, vue/html-indent, vue/script-indent */
// USE /[MANUAL AJF CSS_THEMEVARIABLES]/
// eslint-disable-next-line
/* eslint-enable indent, vue/html-indent, vue/script-indent */

/* eslint-disable indent, vue/html-indent, vue/script-indent */
// USE /[MANUAL AJF CSS_THEMEVARIABLES QUIDGEST]/
// eslint-disable-next-line
/* eslint-enable indent, vue/html-indent, vue/script-indent */
